<div class="panel panel-default widget">

    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <%=image_tag @post.user.avatar.url(:thumb) if @post.user.avatar?%>
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                 <a href="?user=<%=@post.user.id%>"> <%=@post.user.email%> </a> <%=@post.created_at.strftime("%b.%d.%Y, %H:%M")%>
                            </div>
                        </div>
                        <div class="comment-text">
                            <%=@post.title%> <br/>
                            <%=image_tag @post.image.url,class:"img img-responsive" if @post.image?%>
                            <br/>
                            <%=@post.msg%>
                        </div>
                        <div id="<%=@post.id%>">
                          <%if Like.where(user:current_user, post:@post).count>0%>
                             <%= link_to "", unlike_post_path(@post), class:"glyphicon glyphicon-heart",remote: :true, method: :put %>
                          <%else%>
                             <%= link_to "", like_post_path(@post), class:"glyphicon glyphicon-heart-empty",remote: :true, method: :put %>
                          <%end%>
                          </div>
                        <hr>
                        Bunu beğenenler(<%=@likeds.count%>) <br/>
                        <% @likeds.each do |l|%>
                          <%=image_tag l.user.avatar.url(:thumb)%>
                          <%=l.user.email%>
                        <% end %>
                        </hr>
                        <hr>
                        <%=render 'comments/comment'%>
                        </hr>
                        <hr>
                        <% if @post.user.id == current_user.id %>
                        <%= link_to 'Düzenle', edit_post_path %> 
                        |
                        <%= link_to 'Sil',  { action: :destroy, id: @post.id }, method: :delete, data: { confirm: 'Silinsin mi?' } %>
                        
                        <% end %>
                        
                        </hr>
                    </div>
            </li>
        </ul>
    </div>
</div>